{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <p>Bem vindo a página de checagem de nome de usuario para cadastro na banda</p>
    <p>Requisitos para o nome</p>
    <ul>
        <li>Ter caractere minusculo</li>
        <li>Ter caractere maiusculo</li>
        <li>Terminar em número</li>
    </ul>
    <form action="{{url_for('report')}}">
        <label for="username">Username</label>
        <input type="text" name="username">
        <input type="submit" value="report">
    </form>
</div>
{% endblock %}